.management-onoff {
  text-align: center;
  padding-top: 1.2rem;
}

/*Start | On-Off Button Design*/

.button-onoff {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: all 150ms linear;
}

.button-onoff input {
  display: block;
  position: absolute;
  opacity: 0
}

.button-onoff span {
  position: relative;
  display: block;
  width: 80px;
  height: 35px;
  border-radius: 40px;
  background: #ccc;
  border: 1px solid #ccc;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  transition: 400ms
}

.button-onoff input:checked~span {
  border: 1px solid #339af0;
  background: #339af0
}

.button-onoff input~span:before {
  content: '메뉴';
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  right: 0px;
  font-size: 14px;
  font-family: "Arial";
  font-weight: bold;
  line-height: 34px;
  color: #444;
  padding: 0px 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms
}

.button-onoff input:checked~span:before {
  content: '유저';
  right: 28px;
  color: #fff
}

.button-onoff input~span:after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  top: 4px;
  left: 4px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  transition: 400ms
}

.button-onoff:hover {
  cursor: pointer;
  transition: all 150ms linear;
  opacity: 0.85;
}

.button-onoff:hover input~span:after {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.button-onoff input:checked~span:after {
  content: '';
  left: 51px;
}

main[data-component="admin"] section table tr {
  font-size: 0.9em !important;
}

main[data-component="admin"] section table tr th:nth-child(1) {
  width: 15%;
}

main[data-component="admin"] section table tr th:nth-child(2) {
  width: 25%;
}

main[data-component="admin"] section table tr td:nth-child(2) {
  text-align: left;
}

main[data-component="admin"] section table tr th:nth-last-child(-n+3) {
  width: 8%;
}

.menu-table, .user-table {
  margin: 30px auto;
  table-layout: fixed;
}

.menu-table .prices {
  display: flex;
  flex-direction: row;
}

.menu-table .prices p:first-child {
  display: block;
  width: 50%;
  float: left;
  text-align: left;
  padding-left: 10%;
}

.menu-table .prices p:last-child {
  width: 50%;
  display: inline-block;
  text-align: right;
  padding-right: 10%;
}

.user-table th {
  padding: 15px 30px;
}

.user-table th button {
  border: none;
  background-color: transparent !important;
}

main[data-component="admin"] section .user-table tr th:first-child {
  width: 15%;
}

main[data-component="admin"] section .user-table tr th:nth-child(2) {
  width: 20%;
}

main[data-component="admin"] section .user-table tr th:nth-child(3) {
  width: 20%;
}

main[data-component="admin"] section .user-table tr td:nth-child(3) {
  text-align: left;
}

main[data-component="admin"] section .user-table tr th:nth-child(4) {
  width: 10%;
}

@media screen and (max-width: 600px) {
  main[data-component="admin"] section table tr td:nth-child(2) {
    text-align: right;
  }

  .menu-table .prices {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
  }

  .menu-table .prices p:first-child {
    width: 40%;
    float: left;
    text-align: left;
  }

  .menu-table .prices p:last-child {
    width: 40%;
    text-align: right;
  }

  main[data-component="admin"] section .user-table tr td:nth-child(3) {
    text-align: right;
    width: 100%;
  }
}

main[data-component="admin"] section:first-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

:root {
  --color-dark: #161616;
  --color-ocean: #416dea;
  --color-grass: #3dd28d;
  --color-snow: #FFFFFF;
  --color-salmon: #F32C52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;
  --borderRadius: 36px;
  --font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main[data-component="admin"] section:first-child .button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main[data-component="admin"] section:first-child .button {
  display: flex;
  overflow: hidden;
  padding: 0.55rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: var(--borderRadius);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 80px;
  box-shadow: 2px 5px 10px var(--color-smoke);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

main[data-component="admin"] section:first-child .button:hover {
  transition: all 150ms linear;
  opacity: 0.85;
}

main[data-component="admin"] section:first-child .button:active {
  transition: all 150ms linear;
  opacity: 0.75;
}

main[data-component="admin"] section:first-child .button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

main[data-component="admin"] section:first-child .button.blue {
  color: var(--color-snow);
  background: var(--color-ocean);
}