.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page .container {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 30px;
}

.login-page .container input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 30px;
}

.login-page .container button {
  text-transform: uppercase;
  outline: 0;
  background: #3165b1;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 30px;
}

.login-page .container button:hover,
.login-page .container button:active,
.login-page .container button:focus {
  background: #0081ff;
}

.login-page .container .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.login-page .container .message a {
  color: #3165b1;
  font-weight: bold;
  text-decoration: none;
}

.hidden {
  display: none;
}

.login-wrapper {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(49,101,177,1) 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  z-index: 100;
}