<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parang Cafe | Admin</title>
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../assets/index.css">
  <script src="https://kit.fontawesome.com/7fd51b7743.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav>
      <div id="brand">
        <div id="logo"></div>
        <div id="word-mark">관리자님</div>
        <!-- <div id="users">
                <i id="login" class="fas fa-sign-in-alt"></i>
                <i id="signup" class="fas fa-user-plus"></i>
                <i id="profile" class="fas fa-user-edit"></i>
                <i id="logout" class="fas fa-sign-out-alt"></i>
              </div> -->
      </div>
      <div id="menu">
        <div id="menu-toggle">
          <div id="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <ul>
          <!-- 메뉴 소개 -->
          <li>
            <div>
              <a href="./menu.html">Menu</a>
            </div>
          </li>
          <!-- 매장 찾기 -->
          <li>
            <div>
              <a href="./store.html">Store</a>
            </div>
          </li>
          <!-- 관리 페이지 -->
          <!-- <li>
            <div>
              <a href="./admin.html">Admin</a>
            </div>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>
  <main data-navgiation="admin">
    <section>
      <div class="management-onoff">
        <label class="button-onoff">
          <input type="checkbox" name="name" data-onoff="toggle"><span></span>
        </label>
      </div>
    </section>
    <section>
      <div class="table-wrapper">
        <table class="menu-table">
          <thead>
            <tr>
              <th scope="col">카테고리</th>
              <th scope="col">메뉴명</th>
              <th scope="col">Tall(355ml)</th>
              <th scope="col">Grande(473ml)</th>
              <th scope="col">Venti(591ml)</th>
              <th scope="col">재고</th>
              <th scope="col">수정</th>
              <th scope="col">삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row" data-label="카테고리">콜드브루</td>
              <td data-label="메뉴명">콜드 폼 콜드브루</td>
              <td data-label="Tall(355ml)">5.8</td>
              <td data-label="Grande(473ml)">6.3</td>
              <td data-label="Venti(591ml)">6.5</td>
              <td data-label="재고">입고 품절 현보유</td>
              <td data-label="수정"><i class="fas fa-pen"></i></td>
              <td data-label="삭제"><i class="fas fa-eraser"></i></td>
            </tr>
            <tr>
              <td scope="row" data-label="카테고리">콜드브루</td>
              <td data-label="메뉴명">바닐라 크림 콜드 브루</td>
              <td data-label="Tall(355ml)">5.5</td>
              <td data-label="Grande(473ml)">6.0</td>
              <td data-label="Venti(591ml)">6.5</td>
              <td data-label="재고">입고 품절 현보유</td>
              <td data-label="수정"><i class="fas fa-pen"></i></td>
              <td data-label="삭제"><i class="fas fa-eraser"></i></td>
            </tr>
            <tr>
              <td scope="row" data-label="카테고리">콜드브루</td>
              <td data-label="메뉴명">콜드 브루</td>
              <td data-label="Tall(355ml)">4.5</td>
              <td data-label="Grande(473ml)">5.0</td>
              <td data-label="Venti(591ml)">5.5</td>
              <td data-label="재고">입고 품절 현보유</td>
              <td data-label="수정"><i class="fas fa-pen"></i></td>
              <td data-label="삭제"><i class="fas fa-eraser"></i></td>
            </tr>
            <tr>
              <td scope="row" data-label="카테고리">콜드브루</td>
              <td data-label="메뉴명">돌체 콜드브루</td>
              <td data-label="Tall(355ml)">5.8</td>
              <td data-label="Grande(473ml)">6.3</td>
              <td data-label="Venti(591ml)">6.8</td>
              <td data-label="재고">입고 품절 현보유</td>
              <td data-label="수정"><i class="fas fa-pen"></i></td>
              <td data-label="삭제"><i class="fas fa-eraser"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section>
      <div class="table-wrapper">
        <table class="user-table">
          <thead>
            <tr id="user-table-top">
              <th scope="col">이름</th>
              <th scope="col">아이디</th>
              <th scope="col">생성일</th>
              <th scope="col">수정</th>
              <th scope="col">삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row" data-label="이름">테스트1</td>
              <td data-label="아이디">hannah_west@example.com</td>
              <td data-label="생성일">2021. 11. 2</td>
              <td data-label="수정"><i class="fas fa-pen"></i></td>
              <td data-label="삭제"><i class="fas fa-eraser"></i></td>
              </td>
            </tr>
            <tr>
              <td scope="row" data-label="이름">테스트2</td>
              <td data-label="아이디">Edward@example.com</td>
              <td data-label="생성일">2021. 11. 2</td>
              <td data-label="수정"><i class="fas fa-pen"></i></td>
              <td data-label="삭제"><i class="fas fa-eraser"></i></td>
              </td>
            </tr>
            <tr>
              <td scope="row" data-label="이름">테스트3</td>
              <td data-label="아이디">william_86@example.com</td>
              <td data-label="생성일">2021. 11. 2</td>
              <td data-label="수정"><i class="fas fa-pen"></i></td>
              <td data-label="삭제"><i class="fas fa-eraser"></i></td>
              </td>
            </tr>
            <tr>
              <td scope="row" data-label="이름">테스트4</td>
              <td data-label="아이디">Doris6@example.com</td>
              <td data-label="생성일">2021. 11. 2</td>
              <td data-label="수정"><i class="fas fa-pen"></i></td>
              <td data-label="삭제"><i class="fas fa-eraser"></i></td>
              </td>
            </tr>
            <tr>
              <td scope="row" data-label="이름">테스트5</td>
              <td data-label="아이디">sharon_91@example.com</td>
              <td data-label="생성일">2021. 11. 2</td>
              <td data-label="수정"><i class="fas fa-pen"></i></td>
              <td data-label="삭제"><i class="fas fa-eraser"></i></td>
              </td>
            </tr>
            <tr>
              <td scope="row" data-label="이름">테스트6</td>
              <td data-label="아이디">andrew84@example.com</td>
              <td data-label="생성일">2021. 11. 2</td>
              <td data-label="수정"><i class="fas fa-pen"></i></td>
              <td data-label="삭제"><i class="fas fa-eraser"></i></td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
  <script type="module" src="../index.js"></script>
</body>

</html>