<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parang Cafe | Login</title>
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../assets/index.css">
</head>

<body>
  <div class="app">
    <div class="login-wrapper">
      <div class="login-page">
        <div class="container">
          <form class="hidden">
            <!-- <label>아이디</label> -->
            <input type="text" placeholder="아이디" />
            <!-- <label>비밀번호</label> -->
            <input type="password" placeholder="비밀번호" />
            <!-- <label>비밀번호 확인</label> -->
            <input type="password" placeholder="비밀번호 확인" />
            <button>회원가입</button>
            <p class="message">계정이 있으신가요? <a href="#">로그인하기</a></p>
          </form>
          <form class="login-form">
            <!-- <label>아이디</label> -->
            <input type="text" placeholder="아이디" />
            <!-- <label>비밀번호</label> -->
            <input type="password" placeholder="비밀번호" />
            <button>로그인</button>
            <p class="message">계정이 없으신가요? <a href="#">회원가입하기</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.querySelectorAll('.message a').forEach(tag => {
      tag.addEventListener('click', () => {
        document.querySelectorAll('form').forEach(form => {
          form.classList.toggle('hidden')
        })
      });
    })
  </script>
</body>

</html>