<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parang Cafe | Menu</title>
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../assets/index.css">
  <script src="https://kit.fontawesome.com/7fd51b7743.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="app">
    <header>
      <nav>
        <div id="brand">
          <div id="logo"></div>
          <div id="word-mark">환영해요!</div>
          <!-- <div id="users">
                <i id="login" class="fas fa-sign-in-alt"></i>
                <i id="signup" class="fas fa-user-plus"></i>
                <i id="profile" class="fas fa-user-edit"></i>
                <i id="logout" class="fas fa-sign-out-alt"></i>
              </div> -->
        </div>
        <div id="menu">
          <div id="menu-toggle">
            <div id="menu-icon">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          </div>
          <ul>
            <!-- 메뉴 소개 -->
            <!-- <li>
            <div>
              <a href="./menu.html">Menu</a>
            </div>
          </li> -->
            <!-- 매장 찾기 -->
            <li>
              <div>
                <a href="./store.html">Store</a>
              </div>
            </li>
            <!-- 관리 페이지 -->
            <!-- <li>
            <div>
              <a href="./admin.html">Admin</a>
            </div>
          </li> -->
          </ul>
        </div>
      </nav>
    </header>
    <main data-navgiation="menu">
      <section>
        <div class="table-wrapper">
          <table>
            <caption>커피 & 에스프레소</caption>
            <thead>
              <tr>
                <th scope="col">메뉴</th>
                <th scope="col">Tall(355ml)</th>
                <th scope="col">Grande(473ml)</th>
                <th scope="col">Venti(591ml)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row" data-label="메뉴명">디카페인 돌체 라떼</td>
                <td data-label="Tall(355ml)">5.9</td>
                <td data-label="Grande(473ml)">6.4</td>
                <td data-label="Venti(591ml)">6.9</td>
              </tr>
              <tr>
                <td scope="row" data-label="메뉴명">디카페인 카라멜 마끼야또</td>
                <td data-label="Tall(355ml)">5.9</td>
                <td data-label="Grande(473ml)">6.4</td>
                <td data-label="Venti(591ml)">6.9</td>
              </tr>
              <tr>
                <td scope="row" data-label="메뉴명">돌체 라떼</td>
                <td data-label="Tall(355ml)">5.6</td>
                <td data-label="Grande(473ml)">6.1</td>
                <td data-label="Venti(591ml)">6.6</td>
              </tr>
              <tr>
                <td scope="row" data-label="메뉴명">화이트 초콜릿 모카</td>
                <td data-label="Tall(355ml)">5.6</td>
                <td data-label="Grande(473ml)">6.1</td>
                <td data-label="Venti(591ml)">6.6</td>
              </tr>
              <tr>
                <td scope="row" data-label="메뉴명">디카페인 카페 라떼</td>
                <td data-label="Tall(355ml)">4.9</td>
                <td data-label="Grande(473ml)">5.4</td>
                <td data-label="Venti(591ml)">5.9</td>
              </tr>
              <tr>
                <td scope="row" data-label="메뉴명">카페 라떼</td>
                <td data-label="Tall(355ml)">4.6</td>
                <td data-label="Grande(473ml)">5.1</td>
                <td data-label="Venti(591ml)">5.6</td>
              </tr>
              <tr>
                <td scope="row" data-label="메뉴명">카푸치노</td>
                <td data-label="Tall(355ml)">4.6</td>
                <td data-label="Grande(473ml)">5.1</td>
                <td data-label="Venti(591ml)">5.6</td>
              </tr>
              <tr>
                <td scope="row" data-label="메뉴명">디카페인 아메리카노</td>
                <td data-label="Tall(355ml)">4.4</td>
                <td data-label="Grande(473ml)">4.9</td>
                <td data-label="Venti(591ml)">5.4</td>
              </tr>
              <tr>
                <td scope="row" data-label="메뉴명">아메리카노</td>
                <td data-label="Tall(355ml)">4.1</td>
                <td data-label="Grande(473ml)">4.6</td>
                <td data-label="Venti(591ml)">5.1</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-wrapper">
          <table>
            <caption>콜드브루</caption>
            <thead>
              <tr>
                <th scope="col">메뉴명</th>
                <th scope="col">Tall(355ml)</th>
                <th scope="col">Grande(473ml)</th>
                <th scope="col">Venti(591ml)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row" data-label="메뉴명">콜드 폼 콜드브루</td>
                <td data-label="Tall(355ml)">5.8</td>
                <td data-label="Grande(473ml)">6.3</td>
                <td data-label="Venti(591ml)">6.5</td>
              </tr>
              <tr>
                <td scope="row" data-label="메뉴명">바닐라 크림 콜드 브루</td>
                <td data-label="Tall(355ml)">5.5</td>
                <td data-label="Grande(473ml)">6.0</td>
                <td data-label="Venti(591ml)">6.5</td>
              </tr>
              <tr>
                <td scope="row" data-label="메뉴명">콜드 브루</td>
                <td data-label="Tall(355ml)">4.5</td>
                <td data-label="Grande(473ml)">5.0</td>
                <td data-label="Venti(591ml)">5.5</td>
              </tr>
              <tr>
                <td scope="row" data-label="메뉴명">돌체 콜드브루</td>
                <td data-label="Tall(355ml)">5.8</td>
                <td data-label="Grande(473ml)">6.3</td>
                <td data-label="Venti(591ml)">6.8</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </div>
  <script type="module" src="../index.js"></script>
</body>

</html>