<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parang Cafe | Store</title>
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../assets/index.css">
  <script src="https://kit.fontawesome.com/7fd51b7743.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bdbff90b21f1abc60d80086d6c452f7b"></script>
</head>

<body>
  <div class="app">
    <header>
      <nav>
        <div id="brand">
          <div id="logo"></div>
          <div id="word-mark">환영해요!</div>
          <!-- <div id="users">
                <i id="login" class="fas fa-sign-in-alt"></i>
                <i id="signup" class="fas fa-user-plus"></i>
                <i id="profile" class="fas fa-user-edit"></i>
                <i id="logout" class="fas fa-sign-out-alt"></i>
              </div> -->
        </div>
        <div id="menu">
          <div id="menu-toggle">
            <div id="menu-icon">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          </div>
          <ul>
            <!-- 메뉴 소개 -->
            <li>
              <div>
                <a href="./menu.html">Menu</a>
              </div>
            </li>
            <!-- 매장 찾기 -->
            <!-- <li>
            <div>
              <a href="./store.html">Store</a>
            </div>
          </li> -->
            <!-- 관리 페이지 -->
            <!-- <li>
            <div>
              <a href="./admin.html">Admin</a>
            </div>
          </li> -->
          </ul>
        </div>
      </nav>
    </header>
    <main data-navgiation="store">
      <section>
        <div id="map"></div>
      </section>
      <section>
        <div class="wrap">
          <div class="search">
            <input type="text" class="searchTerm" placeholder="찾을 지역을 입력해주세요.">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="store-info-wrapper">
          <div class="store-card">
            <div class="store-card-img"></div>
            <div class="store-card-content">
              <div class="store-card-content-title">한국 프레스 센터</div>
              <div class="store-card-content-address">서울특별시 중구 무교로 15 (무교동)</div>
              <div class="store-card-content-tel">1522-3232</div>
              <div class="store-card-content-location">길찾기</div>
            </div>
          </div>
          <div class="store-card">
            <div class="store-card-img"></div>
            <div class="store-card-content">
              <div class="store-card-content-title">한국 프레스 센터</div>
              <div class="store-card-content-address">서울특별시 중구 무교로 15 (무교동)</div>
              <div class="store-card-content-tel">1522-3232</div>
              <div class="store-card-content-location">길찾기</div>
            </div>
          </div>
          <div class="store-card">
            <div class="store-card-img"></div>
            <div class="store-card-content">
              <div class="store-card-content-title">한국 프레스 센터</div>
              <div class="store-card-content-address">서울특별시 중구 무교로 15 (무교동)</div>
              <div class="store-card-content-tel">1522-3232</div>
              <div class="store-card-content-location">길찾기</div>
            </div>
          </div>
      </section>
    </main>
  </div>
  <script type="module" src="../index.js"></script>
  <script src="../src/api/index.js"></script>
</body>

</html>