.loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  /* background: white; */
  z-index: 99;
  text-align: center;
}

.loading-image {
  background-image:url('../icon/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
  height:100px;
  width:100px;
  margin: auto;
  margin-top:20%;
}