.chip {
  padding: 0 12px;
  background-color: #efefef;
  border-radius: 100px;
  display: inline-flex;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  height: 32px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.chip .icon {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  width: 20px;
  text-align: center;
}
